@model IEnumerable<TFT_Stats.Models.ViewModel.CompanionVM>
@{
    ViewData["Title"] = "Companion List";
}
<style>
    img {
        width: 75px;
        max-height: 50px;
    }

    table, tr, th, thead, tbody {
        color: white;
    }

    thead {
        border: 2px solid #747474;
        margin-bottom: 5px;
    }



    tr {
        border-bottom-style: double;
        border-width: 2px;
        border-color: #747474;
        background-color: #1e1e1e;
        margin-bottom: 3px;
        text-align: center;
    }

        tr:nth-child(even) {
            background-color: #2c2c2c;
        }


    th {
        border-left: 2px solid #747474;
        text-align: center;
        min-width: 80px;
    }

        th a.my-class:link {
            color: #14A76C;
        }

        th a.my-class:visited {
            color: #14A76C;
        }

        th a.my-class:hover {
            color: #FFF;
        }

        th a.my-class:active {
            color: #14A76C;
        }

</style>

<div>
    <table class="d-md-table">
        <thead>
            <tr>
                <th>
                    Icon
                </th>
                <th>
                    @Html.ActionLink("Name", "CompanionView", new {sortOrder = ViewBag.NameSortParm}, new { @class = "my-class" })
                </th>
                <th>
                    @Html.ActionLink("Species", "CompanionView", new {sortOrder = ViewBag.Species}, new { @class = "my-class" })
                </th>
                <th>
                    Level 1
                </th>
                <th>
                    Level 2
                </th>
                <th>
                    Level 3
                </th>
                <th>
                    @Html.ActionLink("Count", "CompanionView", new {sortOrder = ViewBag.Count}, new { @class = "my-class" })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.ImgUrl)" onerror="this.src='@Url.Content("https://static.wikia.nocookie.net/leagueoflegends/images/7/7f/Molediver_Astronaut_Tier_3.png")';this.onerror='';" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Species)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                </tr>
            }
        </tbody>
    </table>
</div>